
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;

}

input[type=text] {
    width: 10%;
    padding: 8px 15px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 4px;
}

.delete {
    padding: 8px 15px;
    border: 2px solid black;
    border-radius: 5px;
}

.add {
    padding: 8px 15px;
    border: 2px solid black;
    border-radius: 5px;
}
